@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,900&display=swap");

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

header {
  background: var(--color-bg);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  z-index: 2;
}

h1 {
  padding-top: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-variant-caps: titling-caps;
  transition: 1500ms;
  cursor: default;
}

h1:hover {
  color: var(--color-white);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
}

.valores {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.valores-esquerda {
  margin: 0 0.4em 0 0;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  gap: 15.5em;
}

.valores-direita {
  margin: 0 0 0 0.4em;
  display: grid;
  grid-template-rows: max-content;
  align-content: center;
  gap: 15.5em;
}

.valor1,
.valor2 {
  width: fit-content;
  z-index: 1;
}

input {
  width: 3em;
  height: 1.5em;
  color: var(--color-white);
  background-color: var(--color-bg-variant);
  border: 0;
  text-align: center;
  box-shadow: 0.2em 0.2em 0.4em black;
  border-radius: 15%;
  font-family: "Poppins", sans-serif;
}

input:focus {
  border: 0 none;
  outline: 0;
}

.texto {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.texto > .retangulo {
  width: 40em;
  height: 25em;
  border: 0.1em solid;
  border-color: var(--color-primary);
  background: var(--color-bg-variant);
  box-shadow: 0.4em 0.4em 1em black;
}

.resultado {
  position: absolute;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

.resultado > p {
  font-family: "Poppins", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.botao-copia {
  background: var(--color-bg);
  width: 100vw;
  height: 20vh;
  z-index: 0;
  font-family: "Poppins", sans-serif;
}

.botao {
  color: var(--color-primary-variant);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 0;
  align-self: flex-end;
  cursor: default;
  gap: 0.4em;
  transition: 1500ms;
  padding-bottom: 15vh;
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 100;
}

.botao:hover {
  color: var(--color-white);
}

/* =============== Dispositivos médios =============== */
@media screen and (max-width: 1024px) {

  .texto > .retangulo {
    width: 30em;
    height: 18em;
    margin: 0 1.5em;
  }

  input {
    width: 4em;
    height: 3em;
    color: var(--color-white);
    background-color: var(--color-bg-variant);
    border: 0;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.4em black;
    border-radius: 15%;
    font-family: "Poppins", sans-serif;
  }

  .valores-esquerda {
    gap: 8em;
  }
  
  .valores-direita {
    gap: 8em;
  }

  .resultado {
    position: absolute;
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    
  }
}

/* =============== Dispositivos pequenos =============== */
@media screen and (max-width: 600px) {
  h1 {
    padding: 1.5em 1.5em 0 1.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-variant-caps: titling-caps;
    transition: 1500ms;
    cursor: default;
  }

  .texto > .retangulo {
    width: 15em;
    height: 12.5em;
  }

  input {
    width: 3.5em;
    height: 2em;
    color: var(--color-white);
    background-color: var(--color-bg-variant);
    border: 0;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.4em black;
    border-radius: 15%;
    font-family: "Poppins", sans-serif;
  }

  .valores-esquerda {
    gap: 8em;
  }
  
  .valores-direita {
    gap: 8em;
  }

  .resultado {
    position: absolute;
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: small;
  }
}
